@use "src/shared/styles.scss" as vars;

li[role="result-item"] {
    span[role="navigation"] {
        opacity: 0;
        transition: opacity vars.$transition-duration vars.$transition-function;
    }

    &:hover span[role="navigation"] {
        opacity: 1;
    }
}
