/* transition */
$transition-duration: 0.075s;
$transition-function: ease-in;

/* animation */
$animation-duration: 0.3s;

html {
    height: 100vh;
    overflow: hidden;
}

body,
#root {
    height: 100%;
}

.bbr-icon {
    transition-duration: $transition-duration !important;
    transition-timing-function: $transition-function !important;
}

.bbr-dropdown {
    .bbr-dropdown__label {
        padding-left: calc(0.75em - 1px);

        span {
            max-width: max-content;
        }
    }
}

.has-text-wrapped {
    white-space: pre-line;
}
