[role="management-module"] {
    [role="action-execute"] {
        .bbr-input.field {
            margin-top: 0.125rem;

            label {
                white-space: nowrap;
                font-size: 0.85rem;
                padding-left: 1.75rem;
            }

            .is-checkradio[type="checkbox"] + label::before,
            .is-checkradio[type="checkbox"] + label:before {
                width: 1.25rem;
                height: 1.25rem;
                margin-top: 0.1rem;
            }

            .is-checkradio[type="checkbox"] + label::after,
            .is-checkradio[type="checkbox"] + label:after {
                left: 0.4rem;
                top: 0.45rem;
            }
        }
    }

    [data-dd-identifier="actions"] {
        .bbr-dropdown-item.is-active {
            .bbr-icon {
                color: white !important;
            }
        }
    }
}
