[role="management-module"] {
    [role="action-execute"] {
        .bbr-input.field {
            margin-top: 0.125rem;

            label {
                white-space: nowrap;
                font-size: 0.85rem;
                padding-left: 1.75rem;
            }

            .is-checkradio[type="checkbox"] + label::before,
            .is-checkradio[type="checkbox"] + label:before {
                width: 1.25rem;
                height: 1.25rem;
                margin-top: 0.1rem;
            }

            .is-checkradio[type="checkbox"] + label::after,
            .is-checkradio[type="checkbox"] + label:after {
                left: 0.45rem;
                top: 0.35rem;
            }
        }
    }

    [data-dd-identifier="actions"] {
        .bbr-dropdown-item.is-active {
            .bbr-icon {
                color: white !important;
            }
        }
    }

    .projects-view-mode {
        .bbr-dropdown__label {
            border-radius: 2px;
            font-size: 0.75rem;
            padding-top: calc(0.5em - 1px);
            padding-bottom: calc(0.5em - 1px);

            .bbr-icon {
                font-size: 0.85rem;
            }
        }

        .dropdown-menu {
            min-width: 7.25rem;

            .dropdown-content {
                font-size: 0.85rem;

                padding-top: 0.5rem;
                padding-bottom: 0.5rem;

                .bbr-dropdown-item {
                    padding: 0.175rem 0.75rem;
                }
            }
        }

        &.is-active .bbr-dropdown__label .bbr-icon.bi-arrow-down::before {
            transform: rotate(180deg) translateY(3px);
        }
    }
}
