[role="splash-screen"] {
    height: 100%;

    background: #fff;

    [role="splash-container"] {
        border-radius: 8px;

        min-width: 20vw;
        min-height: 15vh;

        .loading-title {
            align-self: flex-start;
            left: 40.25%;
            position: relative;
        }
    }
}
